#### Exploring

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('immigration_data_sample.csv', index_col=0)

In [8]:
df.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
2027561,4084316.0,2016.0,4.0,209.0,209.0,HHW,20566.0,1.0,HI,20573.0,...,NaN,M,1955.0,07202016,F,NaN,JL,5.658267e+10,00782,WT
2171295,4422636.0,2016.0,4.0,582.0,582.0,MCA,20567.0,1.0,TX,20568.0,...,NaN,M,1990.0,10222016,M,NaN,*GA,9.436200e+10,XBLNG,B2
589494,1195600.0,2016.0,4.0,148.0,112.0,OGG,20551.0,1.0,FL,20571.0,...,NaN,M,1940.0,07052016,M,NaN,LH,5.578047e+10,00464,WT
2631158,5291768.0,2016.0,4.0,297.0,297.0,LOS,20572.0,1.0,CA,20581.0,...,NaN,M,1991.0,10272016,M,NaN,QR,9.478970e+10,00739,B2
3032257,985523.0,2016.0,4.0,111.0,111.0,CHM,20550.0,3.0,NY,20553.0,...,NaN,M,1997.0,07042016,F,NaN,NaN,4.232257e+10,LAND,WT

In [9]:
df.columns

Index(['cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port', 'arrdate',
       'i94mode', 'i94addr', 'depdate', 'i94bir', 'i94visa', 'count',
       'dtadfile', 'visapost', 'occup', 'entdepa', 'entdepd', 'entdepu',
       'matflag', 'biryear', 'dtaddto', 'gender', 'insnum', 'airline',
       'admnum', 'fltno', 'visatype'],
      dtype='object')

In [15]:
df.shape

(1000, 28)

In [20]:
df[df['i94cit'] ==213.0]

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
2509117,5070551.0,2016.0,4.0,213.0,213.0,LOS,20571.0,1.0,CA,20676.0,...,NaN,M,1952.0,10262016,M,NaN,QR,9.469486e+10,00739,B2
1451442,2929149.0,2016.0,4.0,213.0,213.0,LVG,20560.0,1.0,NC,20634.0,...,NaN,M,1955.0,10152016,M,NaN,LH,9.372298e+10,00428,B2
897673,1840249.0,2016.0,4.0,213.0,213.0,SEA,20554.0,1.0,WA,20589.0,...,NaN,M,1948.0,10092016,F,NaN,EK,9.317896e+10,00227,B2
2614678,5270355.0,2016.0,4.0,213.0,213.0,DAL,20572.0,1.0,TX,20605.0,...,NaN,M,1974.0,10272016,F,NaN,AA,9.476947e+10,00071,B2
1748489,3529728.0,2016.0,4.0,213.0,213.0,SEA,20563.0,1.0,WA,20623.0,...,NaN,M,1955.0,10182016,M,NaN,EK,9.395091e+10,00227,B2
3057502,688605.0,2016.0,4.0,213.0,213.0,EPI,20548.0,3.0,WA,20549.0,...,NaN,M,1976.0,10032016,M,NaN,NaN,9.276435e+10,LAND,B1
2733233,5492918.0,2016.0,4.0,213.0,213.0,PHI,20573.0,1.0,PA,20576.0,...,NaN,M,1999.0,10282016,M,NaN,LH,9.487995e+10,00426,B2
342979,687285.0,2016.0,4.0,213.0,131.0,NEW,20548.0,1.0,OH,20559.0,...,NaN,M,1974.0,10032016,M,NaN,LH,9.274725e+10,00402,B1
1149853,2353538.0,2016.0,4.0,213.0,213.0,ATL,20557.0,1.0,NJ,20562.0,...,NaN,M,1998.0,10122016,F,NaN,AI,9.339587e+10,00191,B2
428793,864073.0,2016.0,4.0,213.0,213.0,SFR,20549.0,1.0,CA,20553.0,...,NaN,M,1969.0,10042016,M,NaN,KL,9.281962e+10,00605,B1
2730160,5488331.0,2016.0,4.0,213.0,213.0,NYC,20573.0,1.0,NY,20589.0,...,NaN,M,1981.0,10282016,F,NaN,QR,9.487486e+10,00701,B2
3060520,2932211.0,2016.0,4.0,213.0,213.0,WAS,20560.0,3.0,NaN,20561.0,...,NaN,M,1972.0,05202016,F,NaN,NaN,7.998182e+10,LAND,B2
52130,61611.0,2016.0,4.0,213.0,213.0,NYC,20545.0,1.0,TX,20572.0,...,NaN,M,1981.0,09302016,NaN,NaN,QR,9.248626e+10,00701,B1
1931245,3886754.0,2016.0,4.0,213.0,213.0,CHI,20565.0,1.0,IL,NaN,...,NaN,NaN,1938.0,10202016,M,NaN,AI,9.411107e+10,00127,B2
1931081,3886516.0,2016.0,4.0,213.0,213.0,HOU,20565.0,1.0,TX,20619.0,...,NaN,M,1960.0,10202016,M,NaN,QR,9.416133e+10,00713,B2
692967,1400880.0,2016.0,4.0,213.0,213.0,NEW,20552.0,1.0,NJ,NaN,...,NaN,NaN,2014.0,D/S,M,NaN,AI,7.258104e+08,191,F2
798239,1624057.0,2016.0,4.0,213.0,213.0,CHI,20553.0,1.0,CA,NaN,...,NaN,NaN,1952.0,10082016,F,NaN,EK,9.313889e+10,00235,B2
154495,284782.0,2016.0,4.0,213.0,213.0,MIA,20546.0,1.0,FL,20630.0,...,NaN,M,1957.0,10012016,F,NaN,QR,9.258788e+10,00777,B2
1071301,2195092.0,2016.0,4.0,213.0,213.0,NYC,20556.0,1.0,NY,20587.0,...,NaN,M,1957.0,10122016,F,NaN,EK,9.337058e+10,00207,B2
693089,1401034.0,2016.0,4.0,213.0,213.0,NYC,20552.0,1.0,NY,NaN,...,NaN,NaN,1986.0,10072016,NaN,NaN,QR,9.304222e+10,00701,B2
1557963,3155905.0,2016.0,4.0,213.0,213.0,LOS,20561.0,1.0,UT,20573.0,...,NaN,M,1976.0,10162016,M,NaN,EK,9.382434e+10,00215,B1
1748832,3530227.0,2016.0,4.0,213.0,213.0,NYC,20563.0,1.0,NY,20579.0,...,NaN,M,1957.0,10182016,M,NaN,EK,9.394673e+10,00203,B2
2140433,4317940.0,2016.0,4.0,213.0,296.0,ORL,20567.0,1.0,FL,20574.0,...,NaN,M,1956.0,10222016,M,NaN,EK,9.433348e+10,00219,B2
248380,494733.0,2016.0,4.0,213.0,213.0,SFR,20547.0,1.0,CA,20589.0,...,NaN,M,1984.0,D/S,F,NaN,VS,6.765221e+08,41,F1
1557723,3155478.0,2016.0,4.0,213.0,213.0,WAS,20561.0,1.0,DC,20574.0,...,NaN,M,2007.0,10162016,F,NaN,KL,9.381871e+10,00651,B2
427847,862818.0,2016.0,4.0,213.0,117.0,PHI,20549.0,1.0,IN,20582.0,...,NaN,M,1964.0,10042016,F,NaN,AA,9.282081e+10,00719,B2
1932578,3888676.0,2016.0,4.0,213.0,213.0,LOS,20565.0,1.0,CA,20582.0,...,NaN,M,1983.0,10202016,M,NaN,EK,9.416030e+10,00215,B2
2510445,5072687.0,2016.0,4.0,213.0,213.0,HOU,20571.0,1.0,TX,20572.0,...,NaN,M,1985.0,10262016,M,NaN,QR,9.468906e+10,00713,B2
1832817,3697368.0,2016.0,4.0,213.0,213.0,NYC,20564.0,1.0,NC,20655.0,...,NaN,M,1958.0,10192016,NaN,NaN,EK,9.404810e+10,00201,B2
2417703,4899947.0,2016.0,4.0,213.0,213.0,LOS,20570.0,1.0,VA,20677.0,...,NaN,M,1955.0,10252016,F,NaN,EY,9.455321e+10,00131,B2
2508566,5069811.0,2016.0,4.0,213.0,213.0,BOS,20571.0,1.0,MA,NaN,...,NaN,NaN,1946.0,10262016,F,NaN,QR,9.467578e+10,00743,B2
1450997,2928372.0,2016.0,4.0,213.0,213.0,PHO,20560.0,1.0,NY,20565.0,...,NaN,M,1957.0,10152016,F,NaN,AI,9.367704e+10,00101,B1
2614996,5270782.0,2016.0,4.0,213.0,213.0,NYC,20572.0,1.0,OR,20611.0,...,NaN,M,1950.0,10272016,M,NaN,EK,9.476846e+10,00201,B2
1662826,3360046.0,2016.0,4.0,213.0,213.0,NYC,20562.0,1.0,CT,NaN,...,NaN,NaN,1950.0,10172016,F,NaN,AI,9.386206e+10,00101,B2
2851748,5735642.0,2016.0,4.0,213.0,213.0,CHI,20574.0,1.0,GA,20613.0,...,NaN,M,1952.0,10292016,M,NaN,QR,9.499022e+10,00725,B2
2848958,5731122.0,2016.0,4.0,213.0,213.0,NYC,20574.0,1.0,MD,20601.0,...,NaN,M,2003.0,10292016,NaN,NaN,KU,9.501650e+10,00101,B2
511900,1032729.0,2016.0,4.0,213.0,213.0,PHI,20550.0,1.0,NJ,NaN,...,NaN,NaN,1946.0,10052016,M,NaN,BA,9.291274e+10,00069,B2

In [14]:
df.isnull().sum(axis=0)

cicid          0
i94yr          0
i94mon         0
i94cit         0
i94res         0
i94port        0
arrdate        0
i94mode        0
i94addr       59
depdate       49
i94bir         0
i94visa        0
count          0
dtadfile       0
visapost     618
occup        996
entdepa        0
entdepd       46
entdepu     1000
matflag       46
biryear        0
dtaddto        0
gender       141
insnum       965
airline       33
admnum         0
fltno          8
visatype       0
dtype: int64

In [21]:
airport = pd.read_csv('airport-codes_csv.csv')

In [22]:

airport.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [25]:
us_cities = pd.read_csv('us-cities-demographics.csv', sep=';')

In [26]:
us_cities.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402