In [1]:
from pyspark.sql import SparkSession
def create_spark():
    spark = SparkSession.builder.\
    config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
    .enableHiveSupport().getOrCreate()
    return spark

In [2]:
spark = create_spark()

In [3]:
df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [4]:
df_spark.count()

3096313

In [5]:
df_spark.createOrReplaceTempView('immigrations_raw')

In [6]:
staging_1 = spark.sql("""
        SELECT cicid, i94yr, i94mon, i94cit, i94port, arrdate, i94mode, i94addr, i94bir,
               i94visa, count, occup, gender, airline, fltno, visatype
        FROM immigrations_raw
""")

In [7]:
staging_1.limit(10).toPandas()

,cicid,i94yr,i94mon,i94cit,i94port,arrdate,i94mode,i94addr,i94bir,i94visa,count,occup,gender,airline,fltno,visatype
0,6.0,2016.0,4.0,692.0,XXX,20573.0,NaN,None,37.0,2.0,1.0,None,None,None,None,B2
1,7.0,2016.0,4.0,254.0,ATL,20551.0,1.0,AL,25.0,3.0,1.0,None,M,None,00296,F1
2,15.0,2016.0,4.0,101.0,WAS,20545.0,1.0,MI,55.0,2.0,1.0,None,M,OS,93,B2
3,16.0,2016.0,4.0,101.0,NYC,20545.0,1.0,MA,28.0,2.0,1.0,None,None,AA,00199,B2
4,17.0,2016.0,4.0,101.0,NYC,20545.0,1.0,MA,4.0,2.0,1.0,None,None,AA,00199,B2
5,18.0,2016.0,4.0,101.0,NYC,20545.0,1.0,MI,57.0,1.0,1.0,None,None,AZ,00602,B1
6,19.0,2016.0,4.0,101.0,NYC,20545.0,1.0,NJ,63.0,2.0,1.0,None,None,AZ,00602,B2
7,20.0,2016.0,4.0,101.0,NYC,20545.0,1.0,NJ,57.0,2.0,1.0,None,None,AZ,00602,B2
8,21.0,2016.0,4.0,101.0,NYC,20545.0,1.0,NY,46.0,2.0,1.0,None,None,AZ,00602,B2
9,22.0,2016.0,4.0,101.0,NYC,20545.0,1.0,NY,48.0,1.0,1.0,None,None,AZ,00608,B1

In [8]:
us_cities = spark.read.csv('us-cities-demographics.csv', sep=';', header=True)

In [9]:
us_cities.limit(5).toPandas()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601,41862,82463,1562,30908,2.6,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129,49500,93629,4147,32935,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040,46799,84839,4819,8229,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127,87105,175232,5821,33878,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040,143873,281913,5829,86253,2.73,NJ,White,76402

In [10]:
# drop duplicates 
us_cities = us_cities.drop_duplicates()

In [11]:
us_cities.createOrReplaceTempView('us_cities')

In [12]:
us_cities.count()

2891

In [13]:
us_cities = spark.sql("""
        SELECT *, CAST(ROUND((`Total Population`/`Average Household Size`),0) AS INTEGER) AS num_houses
        FROM us_cities
""")

In [14]:
us_cities.createOrReplaceTempView('us_cities')

In [ ]:
us_cities

In [ ]:
us_states = spark.sql("""
            SELECT `State Code` AS state_code,
                   SUM(`Total Population`) AS population,
                   SUM(`Female Population`) AS female_population,
                   SUM(`Number of Veterans`) AS veterans,
                   SUM(num_houses) AS num_houses
            FROM us_cities
            GROUP BY `State Code`
                   
          """)

In [ ]:
us_states.limit(5).toPandas()